h1
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

h2, h3, h4, h5, h6
{
	text-align: center;
}

strong
{
	font-weight: bold;
	white-space: nowrap;
	hyphens: none;
}

dt, dfn
{
	font-style: italic;
	white-space: nowrap;
	hyphens: none;
}

nav ul, nav ol
{
	list-style-type: none;
}

.non-breaking
{
	white-space: nowrap;
	hyphens: none;
}

ul.no-markers, ol.no-markers
{
	list-style-type: none;
}
