h1
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

h2, h3, h4, h5, h6
{
	text-align: center;
}

dt
{
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
	white-space: nowrap;
	hyphens: none;
}

strong>strong
{
	text-decoration: underline;
}

dfn
{
	font-style: italic;
	white-space: nowrap;
	hyphens: none;
}

.non-breaking
{
	white-space: nowrap;
	hyphens: none;
}
