<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>[Document Title]</title>
		<link rel="stylesheet" href="common.css" />
	</head>

	<body>
		<header>
			<h1>[Document Title]</h1>
			<p>[Introduction (optional)]</p>
			<nav>
				<h2 id="contents">Contents</h2>
				<ul>
					<li id="contents-[section-id]"><a href="#[section-id]">[Section-Title]</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2 id="[section-id]"><a href="#contents-[section-id]">[Section-Title]</a></h2>
				[section-contents]
			</section>
		</main>
		<a href="#contents">Back to the table of contents</a>
	</body>
</html>
